[data-v-a6d4705c]:export {
  site_scale: 1;
  scale_mode: width;
  breakpoints: mobile, desktop;
  breakpoint_mobile_width: 320;
  breakpoint_mobile_design_width: 375;
  breakpoint_mobile_design_height: 667;
  breakpoint_mobile_scale_min: 0.8533333333;
  breakpoint_mobile_scale_max: 2.728;
  breakpoint_desktop_width: 768;
  breakpoint_desktop_design_width: 1600;
  breakpoint_desktop_design_height: 850;
  breakpoint_desktop_scale_min: 0.64;
  breakpoint_desktop_scale_max: 1.2;
}
.menu-nav-item[data-v-a6d4705c] {
  border-radius: 0.26rem;
  display: inline-block;
  margin-bottom: 0.9rem;
  padding: 0.3rem 1.6rem 0.3rem 0.6rem;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .menu-nav-item[data-v-a6d4705c] {
    margin-bottom: 0.4rem;
    padding: 0.1rem 0.8rem 0.1rem 0.1rem;
  }
}
.menu-nav-item[data-v-a6d4705c]:last-child {
  margin-bottom: 0;
}
.menu-nav-item .bg[data-v-a6d4705c] {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(-0.2rem);
  width: 100%;
}
.menu-nav-item .bg .graphic[data-v-a6d4705c] {
  background: #c0fb50;
  border-radius: 0.26rem;
}
.menu-nav-item .bg .corner[data-v-a6d4705c] {
  bottom: -2px;
  height: 2rem;
  position: absolute;
  right: -2px;
  width: 2rem;
}
.menu-nav-item .label[data-v-a6d4705c] {
  font-family: ABCWhytePlus;
  font-size: 6.4rem;
  font-style: normal;
  font-variation-settings: "opsz" 0.4;
  font-weight: 650;
  letter-spacing: -0.07em;
  line-height: 0.85;
  position: relative;
}
[lang="zh-cn"] .menu-nav-item .label[data-v-a6d4705c] {
  font-family: Noto Sans SC, sans-serif;
  font-weight: 900;
  line-height: 1;
}
@media only screen and (max-width: 767px) {
  .menu-nav-item .label[data-v-a6d4705c] {
    font-size: 5.15325rem;
    line-height: 0.94;
  }
}
.menu-nav-item .extra[data-v-a6d4705c] {
  left: 100%;
  margin-left: 0.9rem;
  position: absolute;
  top: 0;
}
.menu-nav-item.active .bg[data-v-a6d4705c],
.menu-nav-item.router-link-active .bg[data-v-a6d4705c] {
  opacity: 1;
}
.menu-nav-item.active .label[data-v-a6d4705c],
.menu-nav-item.router-link-active .label[data-v-a6d4705c] {
  color: #000;
}
.menu-nav-item.active .extra[data-v-a6d4705c],
.menu-nav-item.router-link-active .extra[data-v-a6d4705c] {
  color: var(--cl-green);
}
.menu-nav-item:hover .bg[data-v-a6d4705c] {
  opacity: 1;
}
.menu-nav-item:hover .bg .graphic[data-v-a6d4705c] {
  background: #fff;
}
.menu-nav-item:hover .label[data-v-a6d4705c] {
  color: #000;
}
